<img class="movie-poster" src="{{ generate_movie_db_path('w154', movie.posterPath) }}" alt="{{ movie.title }}" />
<div class="movie-content">
    <h2>{{ movie.title }}</h2>
    <div class="vote">
        <span class="stars">
            <span class="vote-average" style="width: {{ movie.voteAverage * 10 }}%"></span>
            <img class="rating-stars" src="{{ asset('img/stars.png') }}" />
        </span>
        ({{ movie.voteCount }})</div>
    <div class="clear"></div>
    <span class="movie-year">{{ movie.releaseDate|date("Y") }}</span>
    {% if movie.productionCompanies  %}-
    <ul class="companies">
            {% for company in movie.productionCompanies %}
                <li>{{ company.name }}{% if not loop.last %},{% endif %}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <p class="overview">{{ movie.overview }}</p>
</div>
<div class="clear"></div>
<div class="movie-video">
        {% if movie.video %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ movie.video.key }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% else %}
            <img src="{{ generate_movie_db_path('w500', movie.backdropPath) }}" alt="{{ movie.title }}" />
        {% endif %}
</div>
