{% extends 'base.html.twig' %}

{% block title %}Movie list{% endblock %}

{% block body %}
    <div id="overlay"></div>
    <main>
        {{ include('include/header.include.html.twig', {title: "A propos de We Movies"}, with_context = false) }}
            {% for movie in movies %}
                {% if loop.first %}
                <article class="article-first">
                    {% if movie.video %}
                    <div class="video">
                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/{{ movie.video.key }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    {% else %}
                        <img src="{{ generate_movie_db_path('w1280', movie.backdropPath) }}" alt="{{ movie.title }}" />
                    {% endif %}
                </article>
                {{ show_menu() }}
                <ul id="movie-list">
                {% else %}
                <li>
                    <article class="movie-item">
                        {{ include('include/movie.include.html.twig', {movie: movie}, with_context = false) }}
                        <a class="movie-link" href="{{ path('movie_details', {movieId: movie.id}) }}">Lire le détails</a>
                        <div class="clear"></div>
                    </article>
                </li>
                {% endif %}
            {% endfor %}
                </ul>
    </main>
{%  endblock %}