{% extends 'base.html.twig' %}

{% block title %}Movie list{% endblock %}

{% block body %}
    {{ show_menu() }}
    <main>
        <h1>A propos de We Movies</h1>
        <form method="get" action="{{ path('search_movie') }}">
            <input type="text" name="search">
            <input type="submit">
        </form>
            {% for movie in movies %}
                {% if loop.first %}
                <article>
                    {% if movie.video %}
                    <div class="video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ movie.video.key }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    {% else %}
                        <img src="{{ generate_movie_db_path('w1280', movie.backdropPath) }}" alt="{{ movie.title }}" />
                    {% endif %}
                    <img src="{{ generate_movie_db_path('w154', movie.posterPath) }}" alt="{{ movie.title }}" /> - {{ movie.title }}
                </article>
                <ul>
                {% else %}
                <li>
                    <article>
                        {{ include('include/movie.include.html.twig', {movie: movie}, with_context = false) }}
                        <a href="{{ path('movie_details', {movieId: movie.id}) }}">Détails</a>
                    </article>
                </li>
                {% endif %}
            {% endfor %}
                </ul>
    </main>
{%  endblock %}