{% extends 'base.html.twig' %}

{% block title %}Recherche Films{% endblock %}

{% block body %}
<main>
    {{ include('include/header.include.html.twig', {title: "Resultat de la recherche"}, with_context = false) }}
    {{ show_menu() }}
    <ul id="search-result-list">
        {% for movie in movies %}
        <li>
            <a href="{{ path('movie_details', {movieId: movie.id}) }}">
                <img src="{{ generate_movie_db_path('w92', movie.posterPath) }}">
                {{ movie.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
